.part {
    position: absolute;
    border: 3px solid white;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: block;
}